/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #ff9800, #ff5722); /* Gradient orange background */
  color: #333;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #ff5722;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1, h2 {
  margin: 10px 0;
}

/* Main Container */
.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form {
  margin-bottom: 20px;
}

input, button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 10px 0;
}

button {
  background-color: #ff9800;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #ff5722;
}

/* Task List */
ul {
  list-style: none;
  padding: 0;
}

li {
  background: #ffe0b2;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li img {
  max-width: 50px;
  max-height: 50px;
}

textarea {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

/* Pomodoro Timer */
.pomodoro-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  margin: 20px auto;
  background-color: #ff6347;
  border-radius: 50%;
  color: white;
  font-size: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  color: #fff;
  background-color: #ff5722;
}

/* Responsive Design
